name: OSSF Scorecard

on:
    push:
        branches: [main]
    schedule:
        - cron: "0 0 * * 0"

permissions:
    contents: read

jobs:
    scorecard:
        name: Scorecard
        runs-on: ubuntu-latest
        permissions:
            security-events: write
            id-token: write
            contents: read

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Run Scorecard
              uses: ossf/scorecard-action@v2
              with:
                  results-file: results.sarif
                  results-format: sarif
                  publish-results: true

            - name: Upload to GitHub
              uses: github/codeql-action/upload-sarif@v3
              with:
                  sarif_file: results.sarif
